{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #e3e7eb;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
  <div class="card my-4">
    <h5 class="card-header">About me</h5>
    <div class="card-body">
      <p class="">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor elit quis mauris venenatis, et placerat lacus bibendum. Aliquam efficitur eu orci suscipit pretium. Etiam tellus lacus, porta nec mauris non, bibendum dictum lacus. Aliquam erat volutpat.
      </p>
    </div>
  </div>
</div>

{% endblock sidebar %}
